@import 'tailwindcss';

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@theme {
  /* Colors */
  --color-on-secondary-container: #f8f1ff;
  --color-primary-container: #00eefc;
  --color-background: #080f18;
  --color-on-tertiary: #430036;
  --color-secondary-dim: #874cff;
  --color-error-dim: #d7383b;
  --color-secondary-fixed: #dac9ff;
  --color-surface-variant: #1d2634;
  --color-surface-container-high: #17202c;
  --color-surface-dim: #080f18;
  --color-surface-container-lowest: #000000;
  --color-tertiary-fixed-dim: #ff6ad8;
  --color-on-secondary-fixed-variant: #6300e2;
  --color-surface-container-low: #0c141e;
  --color-primary-fixed-dim: #00deec;
  --color-surface: #080f18;
  --color-on-error: #490006;
  --color-on-surface-variant: #a5abb8;
  --color-outline-variant: #424853;
  --color-primary-dim: #00deec;
  --color-on-tertiary-fixed-variant: #6f005c;
  --color-on-primary-fixed-variant: #005e64;
  --color-tertiary: #ff5dd7;
  --color-on-secondary: #290067;
  --color-surface-tint: #8ff5ff;
  --color-error: #ff716c;
  --color-on-primary: #005d63;
  --color-outline: #6f7682;
  --color-tertiary-container: #fe00d5;
  --color-surface-container: #121a25;
  --color-secondary: #ac89ff;
  --color-primary: #8ff5ff;
  --color-on-tertiary-container: #0e000a;
  --color-tertiary-fixed: #ff87db;
  --color-tertiary-dim: #ff5dd7;
  --color-inverse-on-surface: #4f5561;
  --color-primary-fixed: #00eefc;
  --color-on-tertiary-fixed: #34002a;
  --color-surface-bright: #222d3b;
  --color-error-container: #9f0519;
  --color-on-background: #e8eefc;
  --color-on-primary-container: #005359;
  --color-on-primary-fixed: #003f43;
  --color-on-secondary-fixed: #41009a;
  --color-inverse-primary: #006a71;
  --color-on-error-container: #ffa8a3;
  --color-inverse-surface: #f8f9ff;
  --color-surface-container-highest: #1d2634;
  --color-secondary-container: #7000ff;
  --color-secondary-fixed-dim: #ceb9ff;
  --color-on-surface: #e8eefc;

  /* Fonts */
  --font-headline: 'Space Grotesk', sans-serif;
  --font-body: 'Newsreader', serif;
  --font-label: 'Space Grotesk', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

  /* Border Radius */
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

/* Enable class-based dark mode (darkMode: "class") */
/* @variant dark (&:where(.dark, .dark *)); */

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'LINE Seed JP', 'Atkinson', sans-serif;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 1.7;
}

body::-webkit-scrollbar {
	display: none;
}