---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>えくぼもあばた</h1>
			<p>
				これはとある文学好きのソフトウェアエンジニアが不定期に書いているブログです。<br/>
				現時点では日本語のみで書いているので日本語話者以外の方は翻訳ツールなどを使って読んでいただけると嬉しいです。
			</p>
			<p>
				このブログでは基本的には自分が読んだ文学作品についての雑感を短く書いていく予定ですが、たまに文学以外のことも書くかもしれません。<br/>
				ただどの書籍にしろ紹介する際にネタバレをはらみうる内容の場合は極力その旨を冒頭に明記するようにします。
			</p>
			<p>
				自分が好きな小説家の一例
			</p>
			<ul>
				<li>村上春樹</li>
				<li>横光利一</li>
				<li>酉島伝法</li>
				<li>Don Delillo</li>
				<li>Cormac McCarthy</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
