---
import { Newspaper } from '@lucide/astro';
---

<!-- Side Navigation (Desktop Only) -->
<aside
  class="fixed left-0 top-20 w-64 z-40 hidden lg:flex flex-col bg-surface-container-low/40 backdrop-blur-2xl dark:bg-surface-container-low/40 rounded-r-3xl h-[calc(100vh-2rem)] my-4 border-r border-white/5 shadow-2xl shadow-cyan-900/10"
>
  <div class="p-6 mb-8 flex items-center gap-3">
    <nav class="flex flex-col gap-1 px-2">
      <a
        class="flex items-center gap-3 bg-linear-to-r from-[#00F0FF]/20 to-transparent text-[#00F0FF] border-l-4 border-[#00F0FF] px-4 py-3 font-headline text-sm font-medium hover:bg-white/5 hover:translate-x-1 transition-all"
        href="/blog"
      >
        <Newspaper />
        Feed
      </a>
    </nav>
  </div>
</aside>
